# <span style="color:#4B8BBE;">Data Analysis Assignment on Stock Price Trends Using <span style="color:#FF4500;">NumPy</span> and <span style="color:#FFD700;">pandas</span></span>

### <span style="background-color:#D3D3D3; padding: 3px;">Dataset:</span> `stock_data.csv`

**<span style="color:#2E8B57;">Objective:</span>**  
This assignment aims to deepen understanding of data manipulation, analysis, and statistical calculations using Python libraries **NumPy** and **pandas**. The **`stock_data.csv`** dataset contains historical stock price data with various columns, including:
- **Date**
- **Open**
- **High**
- **Low**
- **Close**
- **Adjusted Close**
- **Volume**

Through this assignment, you will perform data analysis and answer questions that provide insights into each stockâ€™s **performance, volatility,** and **trading behavior**.

---

### <span style="background-color:#ADD8E6; padding: 3px;">Assignment Scope:</span>

- Calculate stock-specific statistics, such as highest trading volumes and daily return averages.
- Explore stock volatility and **stability** over time.
- Use time-based data grouping to gain insights into monthly and cumulative price trends.
- Analyze trading volume trends and **price fluctuation patterns** to identify significant patterns.

---

### <span style="background-color:#FFD700; padding: 3px;">Tools Required:</span>

- **Python**
- **NumPy**
- **pandas**

### Exploratory Data Analysis

In [3]:
import numpy as np
import pandas as pd

In [84]:
df = pd.read_csv('stock_data.csv')

In [85]:
df.tail()

,Date,Stock Symbol,Open,High,Low,Close,Adjusted Close,Volume
1295,2022-12-26,MSFT,100.125097,102.585282,99.450981,100.644200,101.850175,3310165
1296,2022-12-27,MSFT,100.283318,102.463267,100.182982,100.640442,99.197455,2111707
1297,2022-12-28,MSFT,99.751687,101.032765,99.611749,100.599260,101.656126,2033562
1298,2022-12-29,MSFT,100.424971,102.133025,98.701738,100.614436,100.883678,2259325
1299,2022-12-30,MSFT,99.932393,101.519560,98.615798,100.601136,100.855381,4388163

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1300 entries, 0 to 1299
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            1300 non-null   object
 1   Stock Symbol    1300 non-null   object
 2   Open            1300 non-null   float64
 3   High            1300 non-null   float64
 4   Low             1300 non-null   float64
 5   Close           1300 non-null   float64
 6   Adjusted Close  1300 non-null   float64
 7   Volume          1300 non-null   int64
dtypes: float64(5), int64(1), object(2)
memory usage: 81.4+ KB

In [87]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Open,1300.0,1.001419e+02,5.989739e-01,9.887757e+01,9.963276e+01,1.001425e+02,1.006019e+02,1.015007e+02
High,1300.0,1.011488e+02,6.080448e-01,9.985166e+01,1.006571e+02,1.011492e+02,1.016529e+02,1.025853e+02
Low,1300.0,9.914171e+01,6.021178e-01,9.781613e+01,9.864577e+01,9.913270e+01,9.965478e+01,1.005402e+02
Close,1300.0,1.001422e+02,1.800959e-01,9.974939e+01,1.000248e+02,1.001064e+02,1.002055e+02,1.006442e+02
Adjusted Close,1300.0,1.001771e+02,1.199322e+00,9.788520e+01,9.914649e+01,1.001620e+02,1.012683e+02,1.026151e+02
Volume,1300.0,2.938228e+06,1.160914e+06,1.000810e+06,1.909291e+06,2.964084e+06,3.911224e+06,4.991685e+06

In [88]:
df['Stock Symbol'].unique()

array(['AAPL', 'GOOG', 'AMZN', 'TSLA', 'MSFT'], dtype=object)

In [89]:
df.isnull().sum()   #check null values

Date              0
Stock Symbol      0
Open              0
High              0
Low               0
Close             0
Adjusted Close    0
Volume            0
dtype: int64

# Import the dataset

1. Calculate the average daily trading volume for each stock, and identify the stock with the lowest average trading volume.

In [136]:
# Code here
avg_volumes = df.groupby('Stock Symbol')['Volume'].mean()
# avg = pd.DataFrame(avg_volumes)
# lowest_volume_stock = avg[avg['Volume']==min(avg['Volume'])]
print(f"{avg_volumes.idxmin()} has minimum avg volume: {avg_volumes.min()}")

AAPL has minimum avg volume: 2870155.576923077

2. For each stock, calculate the percentage of days in the year when the stock's closing price was higher than its opening price.

In [91]:
total_days = df.groupby('Stock Symbol')['Date'].count()
total_days

Stock Symbol
AAPL    260
AMZN    260
GOOG    260
MSFT    260
TSLA    260
Name: Date, dtype: int64

In [92]:
stocks = df['Stock Symbol'].unique()

In [93]:
def calculate_percentage(stock_symbol):
    days = df[df['Stock Symbol']== stock_symbol]
    total_days = 260
    return (days[days['Close']>days['Open']]['Date'].count()/total_days) * 100

In [94]:
for stock in stocks:
    print(f'Stock: {stock}, Percentage of days when closing price was higher than opening price: {calculate_percentage(stock).round(2)}%')

Stock: AAPL, Percentage of days when closing price was higher than opening price: 50.77%
Stock: GOOG, Percentage of days when closing price was higher than opening price: 48.85%
Stock: AMZN, Percentage of days when closing price was higher than opening price: 46.92%
Stock: TSLA, Percentage of days when closing price was higher than opening price: 49.62%
Stock: MSFT, Percentage of days when closing price was higher than opening price: 53.46%

3. Calculate the highest monthly average closing price for each stock, and identify the month and stock with the overall highest average closing price.

In [95]:
# Code here
df['Months'] = df['Date'].apply(lambda x: x[5:7])

In [96]:
df.head()

,Date,Stock Symbol,Open,High,Low,Close,Adjusted Close,Volume,Months
0,2022-01-03,AAPL,99.777893,100.385725,99.910470,100.036281,100.246683,3871650,01
1,2022-01-04,AAPL,99.439118,100.701557,99.891825,100.045284,101.453156,1686352,01
2,2022-01-05,AAPL,99.985518,101.427452,98.630588,100.065859,101.916657,4847853,01
3,2022-01-06,AAPL,99.199884,100.238233,98.789464,100.111677,98.552026,2967592,01
4,2022-01-07,AAPL,100.750519,101.366349,99.349254,100.150028,100.674140,2170599,01

In [104]:
def get_monthly_average_close(stock):
    stock_df = df[df['Stock Symbol']==stock]
    monthly_close = stock_df.groupby('Months')['Close'].mean()
    return monthly_close.mean()

In [102]:
# stock_df = df[df['Stock Symbol']=='GOOG']
# monthly_close = stock_df.groupby('Months')['Close'].mean()
# monthly_close.mean()

In [105]:
for stock in stocks:
    print(f'Stock: {stock}, Monthly Average Closing Prices: {get_monthly_average_close(stock)}')

Stock: AAPL, Monthly Average Closing Prices: 100.34240530982788
Stock: GOOG, Monthly Average Closing Prices: 100.02943927843451
Stock: AMZN, Monthly Average Closing Prices: 100.08791418548596
Stock: TSLA, Monthly Average Closing Prices: 100.11293575158045
Stock: MSFT, Monthly Average Closing Prices: 100.13414352306272

4. Calculate the monthly total trading volume for each stock and find the month with the highest total volume for "AAPL"

In [119]:
df.groupby('Stock Symbol')['Volume'].sum()

Stock Symbol
AAPL    746240450
AMZN    759132208
GOOG    809513921
MSFT    755939917
TSLA    748869357
Name: Volume, dtype: int64

In [118]:
# Code here
aapl_df = df[df['Stock Symbol']=='AAPL']

In [121]:
aapl_monthly_total_volumes = aapl_df.groupby('Months')['Volume'].sum()

In [138]:
int(aapl_monthly_total_volumes.max())

71912931

In [124]:
aapl_monthly_total_volumes.idxmax()

'12'

5. Identify the longest consecutive period (in days) when each stockâ€™s closing price remained below its 30-day moving average.

In [10]:
# Code here

6. Calculate the average daily price range (difference between High and Low) for each stock and find the stock with the highest average daily range.

In [125]:
df['Daily Range'] = df['High'] - df['Low']

In [126]:
df['Daily Range']

0       0.475255
1       0.809732
2       2.796864
3       1.448769
4       2.017095
          ...
1295    3.134302
1296    2.280286
1297    1.421016
1298    3.431287
1299    2.903763
Name: Daily Range, Length: 1300, dtype: float64

In [129]:
# Code here
average_daily_range = df.groupby('Stock Symbol')['Daily Range'].mean()
average_daily_range

Stock Symbol
AAPL    1.973639
AMZN    2.007343
GOOG    2.093504
MSFT    2.015722
TSLA    1.945473
Name: Daily Range, dtype: float64

In [130]:
average_daily_range.idxmax()

'GOOG'

7. Calculate the cumulative product of daily returns for each stock and identify the stock with the lowest cumulative return.

In [ ]:
# Code here

8. Find the stock with the highest median adjusted closing price over the year.

In [131]:
# Code here
median_adj_close = df.groupby('Stock Symbol')['Adjusted Close'].median()

In [134]:
median_adj_close

Stock Symbol
AAPL    100.561977
AMZN    100.013549
GOOG    100.024763
MSFT    100.384464
TSLA     99.981015
Name: Adjusted Close, dtype: float64

In [133]:
median_adj_close.idxmax()

'AAPL'

9. Calculate the standard deviation of the adjusted closing price for each stock, and identify the stock with the most stable prices (lowest standard deviation).

In [ ]:
# Code here
def calculate_standard_deviation(stock):
    stock_df = df[df['Stock Symbol']==stock]
    return stock_df['Adjusted Close'].std()

In [113]:
stock_df = df.groupby('Stock Symbol')['Adjusted Close'].std()

In [ ]:
stock_df.idxmin()

'AMZN'

10. Identify the day with the highest volume-to-price ratio for each stock, where the volume-to-price ratio is defined as Volume / Close.

In [109]:
# Code here
df['Volume-Price Ratio'] = df['Volume']/df['Close']

In [110]:
df.head()

,Date,Stock Symbol,Open,High,Low,Close,Adjusted Close,Volume,Months,Volume-Price Ratio
0,2022-01-03,AAPL,99.777893,100.385725,99.910470,100.036281,100.246683,3871650,01,38702.458343
1,2022-01-04,AAPL,99.439118,100.701557,99.891825,100.045284,101.453156,1686352,01,16855.886948
2,2022-01-05,AAPL,99.985518,101.427452,98.630588,100.065859,101.916657,4847853,01,48446.623562
3,2022-01-06,AAPL,99.199884,100.238233,98.789464,100.111677,98.552026,2967592,01,29642.815847
4,2022-01-07,AAPL,100.750519,101.366349,99.349254,100.150028,100.674140,2170599,01,21673.473726

In [146]:
def highest_volume_price_ratio(stock_df):
    idx = stock_df['Volume-Price Ratio'].idxmax()
    date = stock_df.loc[idx, 'Date']
    ratio = stock_df.loc[idx, 'Volume-Price Ratio']
    return date, ratio

In [148]:
for stock in stocks:
    stock_df = df[df['Stock Symbol'] == stock]
    date, ratio = highest_volume_price_ratio(stock_df)
    print(f"Stock: {stock}, Date with Highest Volume-Price Ratio: {date}, Ratio: {ratio}")

Stock: AAPL, Date with Highest Volume-Price Ratio: 2022-08-17, Ratio: 49647.642049324815
Stock: GOOG, Date with Highest Volume-Price Ratio: 2022-04-21, Ratio: 49996.825824996944
Stock: AMZN, Date with Highest Volume-Price Ratio: 2022-07-06, Ratio: 49803.317505158746
Stock: TSLA, Date with Highest Volume-Price Ratio: 2022-05-23, Ratio: 49528.35050662439
Stock: MSFT, Date with Highest Volume-Price Ratio: 2022-07-29, Ratio: 49789.107676265325