<h3 align="center" style="color:blue">Codebasics Python Course: Numpy Exercise</h3>

Below two numpy arrays are given with following columns. 

* Employee Details (1) Employee ID (2) Department (3) Salary
* Performance Metrics (1) Employee ID (2) Performance Score (out of 100) (3) Number of Projects Completed

Using these two arrays you need to complete set of tasks which are given in the notebook cells (along with hints)

In [1]:
import numpy as np

# Employee Details (1) Employee ID (2) Department (3) Salary
employee_details = np.array([
    [101, 'Sales', 55000, 'Satya Nadella'],  
    [102, 'HR', 52000, 'Emily Johnson'],    
    [103, 'IT', 72000, 'Fatima Razaak'],        
    [104, 'Sales', 60000, 'John Smith'],    
    [105, 'IT', 68000, 'Priya Singh'],      
    [106, 'HR', 54000, 'Li Wei'],           
    [107, 'IT', 71000, 'Michael Brown'],    
    [108, 'Sales', 59000, 'Sunita Sharma'], 
    [109, 'HR', 53000, 'Chen Wei']          
])

# Performance Metrics (1) Employee ID (2) Performance Score (out of 100) (3) Number of Projects Completed
performance_metrics = np.array([
    [101, 85, 5],
    [102, 78, 3],
    [103, 92, 7],
    [104, 88, 6],
    [105, 79, 4],
    [106, 81, 5],
    [107, 91, 8],
    [108, 77, 4],
    [109, 83, 4]
])

### Task 1: Merge above two numpy arrays using np.hstack

In [38]:
# write code here
employee_performance = np.hstack((employee_details, performance_metrics))
print(employee_performance)

[['101' 'Sales' '55000' 'Satya Nadella' '101' '85' '5']
 ['102' 'HR' '52000' 'Emily Johnson' '102' '78' '3']
 ['103' 'IT' '72000' 'Fatima Razaak' '103' '92' '7']
 ['104' 'Sales' '60000' 'John Smith' '104' '88' '6']
 ['105' 'IT' '68000' 'Priya Singh' '105' '79' '4']
 ['106' 'HR' '54000' 'Li Wei' '106' '81' '5']
 ['107' 'IT' '71000' 'Michael Brown' '107' '91' '8']
 ['108' 'Sales' '59000' 'Sunita Sharma' '108' '77' '4']
 ['109' 'HR' '53000' 'Chen Wei' '109' '83' '4']]

### Task 2: Print All the Salaries

In [39]:
# write code here
salaries = employee_performance[:, 2].copy()
print(salaries)

['55000' '52000' '72000' '60000' '68000' '54000' '71000' '59000' '53000']

### Task 3:  Print All the Salaries in Ascending Order

In [40]:
# write code here
salaries.sort()
print(salaries)

['52000' '53000' '54000' '55000' '59000' '60000' '68000' '71000' '72000']

### Task 4:  Iterate through entire array and print only employee id and name

In [42]:
# write code here
for row in employee_performance:
    print(f"Employee {row[0]} has salary {row[2]}")

Employee 101 has salary 55000
Employee 102 has salary 52000
Employee 103 has salary 72000
Employee 104 has salary 60000
Employee 105 has salary 68000
Employee 106 has salary 54000
Employee 107 has salary 71000
Employee 108 has salary 59000
Employee 109 has salary 53000

### Task 5: Print performance score of all the employees

In [ ]:
# write code here
employee_scores = employee_performance[:, 5]
print(employee_scores)

['85' '78' '92' '88' '79' '81' '91' '77' '83']

### Task 6: Convert these scores to float type by using astype(float) function

In [44]:
# write code here
employee_scores = employee_scores.astype(float)
print(employee_scores)

[85. 78. 92. 88. 79. 81. 91. 77. 83.]

### Task 7:  Now print the average performance score of all the employees

In [45]:
# write code here
average_scores = np.mean(employee_scores, axis=0)
print(average_scores)

83.77777777777777

### Task 8:  Print all the unique departments. You can use np.unique function for this

In [49]:
# first print departments from all the records
# write code here
print(employee_performance[:, 1])

['Sales' 'HR' 'IT' 'Sales' 'IT' 'HR' 'IT' 'Sales' 'HR']

In [50]:
# now print unique departments
# write code here
depts = np.unique(employee_performance[:, 1])
print(depts)

['HR' 'IT' 'Sales']

### Task 9: Print average salary in HR department

In [53]:
# First print all the records in HR department

# write code here
hr_records = np.array([x for x in employee_performance if x[1]=="HR"])
print(hr_records)

[['102' 'HR' '52000' 'Emily Johnson' '102' '78' '3']
 ['106' 'HR' '54000' 'Li Wei' '106' '81' '5']
 ['109' 'HR' '53000' 'Chen Wei' '109' '83' '4']]

In [54]:
# Now from these records only print  the salary column. Convert that to float using astype(float) function

# write code here
hr_salaries = hr_records[:, 2].astype(float)
print(hr_salaries)

[52000. 54000. 53000.]

In [55]:
# Take an average of this column using np.mean() function

# write code here
avg_hr_salaries = np.mean(hr_salaries)
print(avg_hr_salaries)

53000.0